:root {
	--border-color: #0483ab;
	--border-color2: #048390;
	--fill-color: #03919a;
	--text1-color: #122c18;
}

body{
	color: var(--text1-color);
	font-weight: 100;
	font-size: 16;	
}




.sidebar {
	box-shadow: 5px 5px var(--border-color), -5px -5px var(--border-color2);
	
	background-color: var(--fill-color);
	border: 2px dashed var(--border-color);
	padding: 15px 10px 15px 10px;
	border-radius: 0.3rem;
	margin: auto;
	max-width: 700px
}

t1{
	color: var(text1-color);
	font-weight: 100;
	font-size: 16;
}
