:root {
	--border-color: #0483ab;
	--border-color2: #048390;
	--fill-color: #03919a;
	--text1-color: #122c18;
}

body{
	color: var(--text1-color);
	font-weight: 100;
	font-size: 16;	
}


.mainheader {
	margin: auto;
	position: relative;
	top: 10px;
}

.container {
	margin: auto;
}

.middle {
	/* Middle */
	box-shadow: 5px 5px var(--border-color), -5px -5px var(--border-color2);
	float: left;
	background-color: var(--fill-color);
	border: 2px dashed var(--border-color);
	padding: 15px 10px 15px 10px;
	border-radius: 0.3rem;
	/* margin: 25px 10px; */
	max-width: 700px;
}

.right {
	/*rightmost*/
	float: right;
	padding: 5px;
	max-width: 375px;
	
	background-color: var(--fill-color);
	border: 2px var(--border-color);
	border-radius: 0.3rem;
}

t1{
	color: var(text1-color);
	font-weight: 100;
	font-size: 16;
}

@media only screen and (min-width: 1200px) {
	.container { max-width: 1110px; }
	.right { position: sticky; top: 0; }
}

@media only screen and (max-width: 1200px) {
	.container { max-width: 700px; }
	.right { max-width: 700px; }
}