@font-face {
    font-family: 'Rudelsberg';
    src: url('subset-RudelsbergRegular.woff2') format('woff2'),
        url('subset-RudelsbergRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

