:root{
    --selected-color: #000000;
    --selected-color2: #eeeeee77;
    --selected-border: #000000;

    --attack: 20px;
    --decay: 20px;
    --sustain: 50px;
    --sustainSub: 100px;
    --sustainLength: 150px;
    --release: 20px;


    image-rendering: pixelated;
    background: url("img/oak-mdf.jpg") repeat;
}


.bg-text{
    display: inline;
    position: absolute;
    top: 40%;
    z-index: -2;

    font-family: Rudelsburg, serif;
    font-size: 1500%;
    color: #0005;
    mix-blend-mode: darken;

    user-select: none;
    -webkit-user-select: none;

}

.bg-text2{
    display: inline;
    position: absolute;
    top: 40%;
    z-index: -1;
    color: #D1AA7855;
    mix-blend-mode: lighten;

    font-size: 1500%;
    user-select: none;
    -webkit-user-select: none;
}

.main{
    background-image: url("../src/img/paper-texture.jpg");
    border: 1px solid black;
    padding: 5px;
    margin: 20px auto 20px auto;
    display: block;
    height: 975px;
    overflow: clip;
    border-radius: 2px;

    box-shadow: #666666 4px 4px 7px;
}

.right{
    background-color: white;
    background-image: url("../src/img/presets.JPEG");
    background-repeat: no-repeat;
    border: 0px solid orange;
    display: inline;
    vertical-align: top;
    width: 545px;
    overflow: visible;
    padding: 10px;
    box-shadow: #666666 4px 4px 7px;
}

.left{
    float: left;
    background-image: url("../src/img/paper-texture.jpg");
    border: 0px solid orangered;
    display: inline;
    vertical-align: top;
    width: 545px;
    overflow: auto;
    padding: 10px;
    box-shadow: #666666 4px 4px 7px;
}

.envGraph{
    display: block;
    width: 400px;
    height: 100px;
    background: #112255;
    margin: auto auto 10px;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-underline: dash;
    text-decoration: underline;

    color: darkblue;
}

.attack{
    display: block;
    width: 0;
    height: 0;
    border-left: var(--attack) solid transparent;
    border-right: 0 solid transparent;

    border-bottom: 100px solid darkred;
}
.decay{
    top: 50px;
    display: block;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: var(--decay) solid transparent;

    border-bottom: var(--sustainSub) solid goldenrod;
}
.decayHelper{
    background: goldenrod;
    width: var(--decay);
    height: var(--sustain);
    position: relative;

    bottom: 0px;

}
.sustain{
    display: block;
    position: relative;

    width: var(--sustainLength);
    height: var(--sustain);
    left: var(--decay);

    background: darkolivegreen;
}
.release{
    display: block;
    position: relative;

    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: var(--release) solid transparent;
    float: right;
    left: var(--release);

    border-bottom: var(--sustain) solid darkcyan;
}


.section{
    border: 0px solid var(--selected-border);
    background-color: var(--selected-color2);

    overflow: auto;
    box-shadow: #666666 4px 4px 7px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1px;

}

.section > *{
    opacity: 1;
}

.c-section{
    border: 0px solid var(--selected-border);
    background-color: var(--selected-color2);
    overflow: auto;
    box-shadow: #666666 4px 4px 7px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1px;
}

.canvas{
    background-color: #bbb;
    width: 480px;
    height: 480px;
    display: inline-block;
    border: 2px black solid;
    margin: -1px;
}

.p1{
    font-family: Rubik, sans-serif;
    text-align: center;
}

.p2{
    font-family: Brush Script MT, cursive;
    display: inline;
    font-size: 45px;
}
.p3{
    font-family: Garamond, Times, serif;
    display: inline;
    font-size: 45px;
}

.tab{

    float: right;
    width: 30px;
    height: 100%;

    display: inline;
}

.tab button {
    display: block;
    background-color: #222;
    color: white;
    padding: 15px 15px 0 0;
    margin: 30px 0px;
    height: 45px;
    width: 80px;
    border: 2px black solid;
    outline: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: -13px;
    right: 28px;
    transform: rotate(90deg);

    border-radius: 10px 10px 0 0;
}

.tab button:hover {
    border: #ff0 solid 5px;
    border-bottom: 0;
}

.px{
    --color1: #fff;
    --color2: #fff;
    --color3: #fff;
    --color4: #fff;

    background: repeating-linear-gradient(0deg, var(--color1) 0px 0px, var(--color2) 1px 0px, var(--color3) 2px 0px, var(--color4) 3px 0px);
    width: 13px;
    height: 13px;
    margin: 2px;
    cursor: url("../src/img/pencil.png"), pointer;

    user-select: none;
    -webkit-user-select: none;

}
.column{
    width:15px;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    margin: -2px;
}

.hitBox{
    position: relative;
    border: 0 red solid;
    display: inline-block;

    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
}

.schro{
    float: right;
    position: relative;
    display: inline-block;
    left: 5px;
    bottom: -20px;
    width: 128px;
    height: 128px;
    background: url(../src/img/SCHROEDER-Sheet-50.png) left center;
    image-rendering: pixelated;
    cursor: pointer;


    animation: idle 0.5s steps(2) infinite;

}

.schro:hover{
    animation: talk 0.3s steps(2) infinite;
}

.tooltip{
    position: relative;
    display: inline-block;
    padding: 1px 7px 0 7px ;
    background-color: #9995;
    border: 3px #3335 solid;
    visibility: hidden;

    height: 20px;
    text-align: center;
    float: right;
    right: -20px;


    border-radius: 15px 0 15px 15px;

}

@keyframes idle{
    100% { background-position: -256px;}
}

@keyframes talk{
    0% { background-position: -256px;}
    100% { background-position: -512px;}
}

@font-face {
    font-family: 'Rudelsberg';
    src: url('fonts/subset-RudelsbergRegular.woff2') format('woff2'),
    url('fonts/subset-RudelsbergRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@media only screen and (min-width: 1200px) {
    .main { width: 1150px; height: 975px;}
    .left { float : left; }
    .right { float : right; }
}

@media only screen and (max-width: 1200px) {
    .main { max-width: 575px; height: 1750px}
    .left { float : left; }
    .right { float : left; }
}